$mobile: 320px;
$tablet: 728px;
$desktop: 1440px;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$accent-color: #3E8BF3; 

$color-black: #000000; 
$color-gray: #6F767E;
$color-white: #FFFFFF;
$background-color: #F5F9FE;

$primary-font-family: 'TT Firs Neue', sans-serif;