<section class="calc">
    <div class="container calc__container--bg">
        <div class="calc__container">
            <div class="calc__btns">
                <button type="submit" class="form-modal__send">Send</button>
                <button type="submit" class="form-modal__recieve">Recieve</button>
            </div>
            <div class="calc__sum--container">
                <div class="calc__left">
                    <p class="calc__sum">$350.00</p>
                    <p class="calc__currency">0 BTC ≈ $0.00</p>
                </div>
                <button class="calc__arrows--btn">
                    <svg class="calc__arrows">
                        <use href="./icons/sprite.svg#arrows"></use>
                    </svg>
                </button>
            </div>
            <form action="" class="calc__form">
                <div class="calc__form--container">
                    <label for="" class="calc__form--item"><span class="calc__items--text">Pay with</span>
                        <select id="currencies" class="calc__form--input">
                            <option value="Litecoin">Litecoin</option>
                            <option value="Monero">Monero</option>
                            <option value="Dash">Dash</option>
                            <option value="Zcash">Zcash</option>
                            <option value="VertCoin">VertCoin</option>
                        </select>
                    </label>  
                    <label for="" class="calc__form--item"><span class="calc__items--text">Send to</span>
                        <input type="text" class="calc__form--input"> 
                    </label>  
                    <label for="" class="calc__form--item"><span class="calc__items--text">Note</span>
                        <input type="text" class="calc__form--input" placeholder="Type to add a note"> 
                    </label> 
                </div>
                <input type="submit" class="calc__form--btn" value="Continue Transfer">
            </form>
        </div>     
    </div>

</section>