<section class="calc">
    <div class="container calc__container--bg">
        <div class="calc__container">
            <form action="" class="calc__form">
                <div class="calc__form--container">
                    <p class="calc__sum">$350.00</p>
                    <p class="calc__currency">0 BTC ≈ $0.00</p>
                    <label for="" class="calc__form--item"><span class="calc__items--text">From</span>
                        <select id="currenciesFrom" class="calc__form--input">
                            <option value="Litecoin">Litecoin</option>
                            <option value="Monero">Monero</option>
                            <option value="Dash">Dash</option>
                            <option value="Zcash">Zcash</option>
                            <option value="VertCoin">VertCoin</option>
                        </select>
                    </label>  
                    <button class="calc__arrows--btn">
                        <svg class="calc__arrows">
                            <use href="./icons/sprite.svg#arrows"></use>
                        </svg>
                    </button>
                    <label for="" class="calc__form--item"><span class="calc__items--text">To</span>
                        <select id="currenciesTo" class="calc__form--input">
                            <option value="Litecoin">Litecoin</option>
                            <option value="Monero">Monero</option>
                            <option value="Dash">Dash</option>
                            <option value="Zcash">Zcash</option>
                            <option value="VertCoin">VertCoin</option>
                        </select>
                    </label> 
                    <div class="calc__left">
                        <p class="calc__sum">$350.00</p>
                    </div>
                </div>
                <input type="submit" class="calc__form--btn" value="Continue Transfer">
            </form>
        </div>     
    </div>

</section>