<section class="calc">
    <div class="container calc__container">
        <div class="calc__btns">
            <button type="submit" class="form-modal__send">Send</button>
            <button type="submit" class="form-modal__recieve">Recieve</button>
        </div>
        <div class="calc__sum--container">
            <p class="calc__sum">$350.00</p>
            <p class="calc__currency">0 BTC ≈ $0.00</p>
            <button type="button"></button>
            <svg class="calc__arrows">
                <use href="./icons/arrows.svg"></use>
            </svg>
        </div>
        <form action="" class="calc__form">
            <label for="" class="calc__form--item">Pay with
                <select id="currencies">
                    <option value="Litecoin">Litecoin</option>
                    <option value="Monero">Monero</option>
                    <option value="Dash">Dash</option>
                    <option value="Zcash">Zcash</option>
                    <option value="VertCoin">VertCoin</option>
                </select>
            </label>  
            <label for="" class="calc__form--item">Send to
                <input type="text"> 
            </label>  
            <label for="" class="calc__form--item">Note
                <input type="text" placeholder="Type to add a note"> 
            </label> 
            <input type="submit" class="calc__form--btn" value="Continue Transfer">
        </form>
        
    </div>

</section>